@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

colors-test-personal{
  color: #162447 or #1f4068 or #1b1b2f or #e43f5a or #29c7ac
}

:root {
  --box-shadow: 0 1px 3px #1b1b2f, 0 2px 1px #1b1b2f;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #162447;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  color: #a6dcef;
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  color: #a6dcef;
}

h3 {
  color: #a6dcef;
  border-bottom: 1px solid #1f4068;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  color: #a6dcef;
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #1f4068;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #29c7ac;
}

.money.minus {
  color: #e43f5a;
}

label {
  color: #a6dcef;
  display: inline-block;
  margin: 10px 0;
}

::placeholder {
  color:#a6dcef86;
}

input[type='text'],
input[type='number'] {
  background-color: #1f4068;
  color: #fff;
  border: 1px solid #1f4068;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #29c7ac;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #1f4068;
  box-shadow: var(--box-shadow);
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #29c7ac;
}

.list li.minus {
  border-right: 5px solid #e43f5a;
}

.delete-btn {
  cursor: pointer;
  background-color: #e43f5a;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}